.page-main{
  .frame{
    width: 100%;
    overflow: hidden;
    height: 700px;
    position: relative;
  }
  .frame .article{
    width: 50%;
  }
  .frame .overlay{
    position: absolute;
    display: flex;
    background-color: rgba(0, 0, 0, 0.61);
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 2;

  }
  .frame img{
    width: 100%;
    height: auto;
  }

  .cards{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    div{
      width: 200px;
      text-align: center;
      height: 100px;
    }
  }
}
.upload{
  padding: 30px 0;
}

.user-files-container{
  display: flex;
  background-color: rgba(216, 215, 209, 0.25);
  justify-content: left;
  .file-item{
    width: 100px;
    margin: 20px;
    height: 160px;
    cursor: pointer;
    display: inline-block;
    transition: .3s ease;
    background-position: top;
    background-size: 100% auto;
    position: relative;
    background-repeat: no-repeat;
    .load-image{
      //display: none;
    }
    &:hover{
      img{
        transform: scale(1.05);
      }
      a{
        //transition: all .3s ease;
        //overflow: initial;
        //word-wrap: break-word;

      }
    }
    a{
      width: 100px;
      overflow: hidden;
      text-transform: none;
      text-decoration: none;
      position: absolute;
      color: #000;
      bottom: 20px;
      left: 0;
      font-size: 12px;
      text-align: center;
      text-overflow: ellipsis;
    }
    //border: 1px solid #fff;
    img{
      width: 100%;
    }
  }
}
